<?xml version="1.0"?>
<config>

	<modules>
		<Think_BcRacing>
			<version>0.1.0</version>
		</Think_DxRacer>
	</modules>
	
	 <global>
	 	<blocks>
    		<bcracing>
				<class>BcRacing_Setup_Block</class>
    		</bcracing>
    	</blocks>
    	<resources>
    	    <bcracing_setup>
    	        <setup>
    	            <module>Think_BcRacing</module>
				  <class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
				  <use>default_setup</use>
				</connection>
    	    </bcracing_setup>
    	</resources>
     </global>    
</config>